<div class ="center jumbotron">
<h1>Welcome to Recipe Portal</h1>
<h2>You will learn learn to cook</h2>

<%= link_to "Sign Up Now!", "", class: "bnt btn-lg btn-success" %>
</div>
<div class ="row" >
	<div class ="col-lg-4">
		<h3 class = "midrow">
			View Recipe as guest User
		</h3>
		<h2 class ="left" > Browse and view recipe as guest and Sign up later </h2>
		<p> <%= link_to "Browse Recipe Listings", "" , class: "btn btn-warning btn-small" %></p>
	</div>
	<div class ="col-lg-4">
		<h3 class = "midrow">
			View Recipe as guest User
		</h3>
		<h2 class ="left" > Browse and view recipe as guest and Sign up later </h2>
		<p> <%= link_to "Browse Recipe Listings", "" , class: "btn btn-warning btn-small" %></p>
	</div>
	<div class ="col-lg-4">
		<h3 class = "midrow">
			View Recipe as guest User
		</h3>
		<h2 class ="left" > Browse and view recipe as guest and Sign up later </h2>
		<p> <%= link_to "Browse Recipe Listings", "" , class: "btn btn-warning btn-small" %></p>
	</div>
	</div>